@import "tailwindcss";

@theme {
  --color-primary: #0f0fa9;
}

@layer {
  .section-container {
    @apply max-w-[1440px] container mx-auto px-4 py-28;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fade-in {
  animation: fadeInUp 1s ease-out forwards;
}
